
<footer class="container py-4 border-top">
    <div class="">
        <p class="float-end mb-1">
            <a class="link-secondary text-decoration-none" href="#">Back to top</a>
        </p>
        <p class="mb-1">
            <a class="link-secondary text-decoration-none" href="/">Home</a>
        </p>
        <p class="mb-1">
            <a class="link-secondary text-decoration-none" href="https://github.com/aneurinsmith/Recce">GitHub</a>
        </p>
    </div>
</footer>
