
    <header class="container d-flex flex-wrap py-3 border-bottom">
        <a class="d-flex align-items-center text-dark text-decoration-none">
            <img src="/recce/img/recce-logo.svg" style="width:34px" alt="recce logo" />
            <span class="d-none d-xs-block mx-3 fs-3">recce.</span>
        </a>
    </header>
