
@font-face {
    font-family: 'OpenSans';
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    font-family: 'raleway';
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html, body {
    margin: 0;
}

:root {
    --col_btn_hover: #777;
    --col_btn_default: #333;
    --col_dropdown_hover: #555;
    --col_dropdown_hover_alt: #89779a;
    --col_dropdown_selected: #444;
    --col_dropdown_selected_alt: #70578a;
    --col_txt_light: white;
}

::-webkit-scrollbar {
    display: none;
}



@media (min-width: 180px) {
    .d-xs-block {
        display: block !important;
    }
}

.container {
    max-width: 280px;
}

@media (min-width: 856px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1122px) {
    .container {
        max-width: 896px;
    }
}

@media (min-width: 1448px) {
    .container {
        max-width: 1192px;
    }
}
